/* -------Загальні --------*/
:root {
    /* Кольори */
/* --background-primary: #f5f5f5; */
--background-second: #F5F4FA;
--background-elements: #2F303A;
--color-primary: #757575;
--color-grey: #212121;
--color-black: #000000;
--color-blue: #2196f3;
--color-white: #ffffff;
--color-link: #AFB1B8;
--transition-duration: 250ms;
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
}

p, h1, h2, h3: {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
}

address {
    font-style: normal;
}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    color: var(--color-primary);

    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.current {
    color: var(--color-blue);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    
    /* outline: 2px solid aquamarine; */
}

img {
    display: block;
}

.media {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    gap: 10px;
    fill: currentColor;
}

.media:hover,
.media::after {
    fill: var(--color-blue);
}

.color-link {
    fill: var(--color-link);
}

.color-link:hover,
.color-link:after {
    fill: var(--color-blue);
}

/* -----Хедер --- */

.header {
    
    border-bottom-color: solid #ECECEC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-black);
}

.logo .logo-decorate {
    color: var(--color-blue);
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 93px;
}

.container-nav-logo {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-blue);
}

.contacts .contacts-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    
    display: flex;
    align-items: center;

}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-blue);
}

.contakts-list .link {
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-link {
    margin-right: 10px;
}

.contacts-list {
    display: flex;
}

.sprite-contact {
    margin-right: 10px;
}

/* -------Секція хіро------*/

.hero {
    text-align: center;
    padding: 200px 0;

    height: 600px;
    min-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    border-color: var(--color-black);

    background-image: url(../img/Img\ Overlay\ \(1\).svg), url(../img/Img\ \(1\).svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero-title {

    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    color: var(--color-white);

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    max-width: 696px; 
}

.hero-button {
    background-color: var(--color-blue);
    color: var(--color-white);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    width: 216px;
    height: 50px;

    border: 0

    transition-prorerty: background-color;
    transition-duration:var(--transition-duration);
    transition-timing-function: linear;
}

.hero-button:hover,
.hero-button:focus {
    background: #188CE8
}


/* -----Секція advantages-------*/

.container-advantages {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 94px 0 0 0;
}

.advantages-list::before {
    content: "";
    background-color: rgba(245, 244, 250, 1);
    height: 120px;
    width: 270px;
    
    display: block;
    margin-bottom: 30px;
    gap: 30px;
    margin-top: 0;

    border-radius: 4px;

    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
}

.antenna::before {
    background-image: url(../img/antenna\ 1\ \(1\).svg);

}

.clock::before {
    background-image: url(../img/clock\ 1\ \(1\).svg);

}

.diagram::before {
    background-image: url(../img/diagram\ 1\ \(1\).svg);

}

.astronaut::before {
    background-image: url(../img/astronaut\ 1\ \(1\).svg);
}


.advantages .advantages-title {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;

     color: var(--color-grey);
     text-transform: uppercase;
     margin: 0 auto;
     margin-bottom: 10px;
}

.advantages-main {
    display: flex; gap: 30px;
} 

.advantages .advantages-note {
     line-height: 1.71;
}

.advantages-list {
    width: calc((100% - 90px)) / 4);
}

.advantages-note {
    margin: 0 auto;
}

/* -------Секція Duties-------  */

.duties {
    margin: 0 auto;
    padding: 94px 0;
}

.duties-title {
    margin: 0 0 50px 0;

    color: var(--color-grey);
} 

.duties .duties-list {
    display: flex;
    gap: 30px;
}

.overlay-wrap {
    position: relative;
}

.overlay-text {
    position: absolute;

    padding: 27px;
    margin: 0;
    width: 100%;
    bottom: 0;
    left: 0;

    text-align: center;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
}


/* -----Секція Team --------*/

.team {
    padding: 94px 0;
    background-color: var(--background-second);
}

.container-team {
    padding: 94px 0;
    margin: 0 auto;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-icon {
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: #212121;
}

.team .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-bottom: 9.95px;

    color: var(--color-grey);
}

.team .team-role {
    font-size: 16px;
    text-align: center;
    line-height: 1.17;
    letter-spacing: 0.03em;

    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.color-link {
    transition: background-color var(--color-blue) var(--color-blue), color var(--color-white) var(--color-white);
}

.team-description {
    border: 1px;
    border-style:solid;
    border-color: #EEEEEE;
    border-radius: 4px;

    padding: 30px 0;
}

.team-media-list {
    display: flex;
    justify-content: center;
}


/* ---Секція Клієнти---- */

.container-clients {
    padding: 94px 0;
}

.clients-title {
    color: var(--color-grey);
    
    margin-top: 0;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.client-logo {
    gap: 30px;
    height: 92px;
    width: 170px;
    display: flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
}

.client-icon {
    fill: var(--color-link);

    width: 106px;
    height: 60px;
    margin: 0 auto;
}

/* -----Секція Футер---- */

.footer-group {
    display: flex;
    padding: 60px 880px 60px 0;
    margin: 0 auto;
    gap: 70px;

}

.footer {
    background-color: var(--background-elements);

    padding: 60px 0;
    display: block;
}

.footer-logo {
    color: var(--color-white);
    margin-bottom: 20px;
}

.address {
    font: inherit;
}

.address .post-address {
    font-size: 14px;
    color: var(--color-white);
    line-height: 1.46;
    letter-spacing: 0.03em;
}

.address-details {
    color: rgba(255, 255, 255, 0.6);

    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-mail {
    margin-bottom: 9px;
}

.footer-social {
    display: block;
}

.footer-list {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.call-to-action {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 00.03em;
    color: var(--color-white);

}

.footer-icon {
    fill: var(--color-white);
    background-color: rgba(255, 255, 255, 0.1);

}

/* ----Секція Portfolio ------ */


.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-grey);
    background-color: var(--background-second);
    text-align: center;
}

.button:hover,
.button:focus {
    color: var(--color-blue);
}

.portfolio {
    padding: 94px 0;
}

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.button-portfolio {
    border: 0;
    background-color: var(--background-second);

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.62;
    padding: 6px 22px;
}

.button-portfolio:focus,
.button-portfolio:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.projects {
    display: flex;
    flex-wrap: wrap;
} 

.projects .projects-list {
    width: calc((100% - 60px)) / 3); 
    border: 1px;
    margin-right: 30px;
    margin-bottom: 30px;

    position: relative;
}

.projects .projects-list:nth-child(3n) {
    margin-right: 0;
}

.projects .projects-list:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.projects-title {
    color: var(--color-grey);

    font-weight: 700;
    font-size:18px;
    line-height: 1.71;
    letter-spacing: 0.06em;

    margin: 0 auto;
    margin-bottom: 4px;
}

.progects-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.projects-about {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    color: var(--color-primary);
}

.projects .projects-description {
   padding: 20px 24px;
   margin: 0 auto;

   border-style: solid;
   border: solid 1px #EEEEEE;
   border-top: none;
}

.projects-overlay {
    position: absolute;
    transform: translateY(100%);
    height: 100%;
}

.projects-overlay-text {
    transform: translateY(100%);
    overflow: auto;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: var(--color-white);
    background-color: rgba(33, 150, 243, 0.9)
    padding: 63px 24px;
    transform:translateY(100%)
    transition: transform var(--transition-duration), 
}